---
import Window from "./Window.astro";
import Card from "./Card.astro";

interface WorkItemFrontMatter {
  name: string;
  picture: string;
  start: string;
  end?: string;
  link?: string;
  technologies?: string[];
}

const projects = await Astro.glob("../cms/projects/*.md");
const proj = projects
  .map((item) => ({
    ...(item.frontmatter as WorkItemFrontMatter),
    body: item.rawContent(),
  }))
  .sort((a, b) => new Date(b.start).getTime() - new Date(a.start).getTime());

const projectFile = await Astro.glob("../cms/projects.md");
const projectContent = projectFile[0];
const { title } = projectContent.frontmatter;
const body = await projectContent.compiledContent();
// console.log(projectContent.compiledContent())
---

<section id="projects">
  <div class="stable">
    <div class="stable-container">
      <Window color="primary">
        <h1>{title}</h1>
        <hr />
        <Fragment set:html={body} />
      </Window>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
      </svg>
    </div>
  </div>
  <div class="scrollable">
    {
      proj.map((item) => (
        <Card
          name={item.name}
          picture={item.picture}
          start={item.start}
          end={item.end}
          link={item.link}
          body={item.body}
          technologies={item.technologies}
          direction="left"
        />
      ))
    }
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: row-reverse;
    gap: 6rem;
  }

  .stable {
    position: sticky;
    top: 0px;
    max-height: 100vh;
    width: 45%;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  .scrollable {
    z-index: 100;
    width: 55%;
  }

  @media only screen and (max-width: 1200px) {
    section {
      flex-direction: column;
      gap: 2rem;
    }

    .stable {
      position: inherit;
      width: 100%;
      padding: 0;
    }

    .scrollable {
      width: 100%;
      padding: 0;
    }
  }
</style>
